@page
@model AS_Assignment2.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert @(Model.IsSuccess ? "alert-success" : "alert-danger")">
        @Model.Message
    </div>
}

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Input.CurrentPassword"></label>
        <input asp-for="Input.CurrentPassword" type="password" />
        <span asp-validation-for="Input.CurrentPassword"></span>
    </div>
    <div>
        <label asp-for="Input.NewPassword"></label>
        <input asp-for="Input.NewPassword" type="password" id="newPassword" />
        <span asp-validation-for="Input.NewPassword"></span>
        <div id="passwordStrength" style="margin-top: 5px;"></div>
    </div>
    <div>
        <label asp-for="Input.ConfirmNewPassword"></label>
        <input asp-for="Input.ConfirmNewPassword" type="password" />
        <span asp-validation-for="Input.ConfirmNewPassword"></span>
    </div>
    <button type="submit">Change Password</button>
    <a href="/Home">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('newPassword').addEventListener('input', function() {
            var password = this.value;
            var strengthDiv = document.getElementById('passwordStrength');
            var strength = 0;
            var feedback = [];
            
            if (password.length >= 12) strength++;
            else feedback.push('At least 12 characters');
            
            if (/[a-z]/.test(password)) strength++;
            else feedback.push('lowercase letter');
            
            if (/[A-Z]/.test(password)) strength++;
            else feedback.push('uppercase letter');
            
            if (/\d/.test(password)) strength++;
            else feedback.push('number');
            
            if (/[!@@#$%^&*()_+=\-{}\[\]:;"'<>,.?/]/.test(password)) strength++;
            else feedback.push('special character');
            
            if (strength < 3) {
                strengthDiv.innerHTML = '<span style="color: red;">Weak - Missing: ' + feedback.join(', ') + '</span>';
            } else if (strength < 5) {
                strengthDiv.innerHTML = '<span style="color: orange;">Medium - Missing: ' + feedback.join(', ') + '</span>';
            } else {
                strengthDiv.innerHTML = '<span style="color: green;">Strong password!</span>';
            }
        });
    </script>
}
