@page
@model AS_Assignment2.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logging out...";
}

<div style="text-align: center; margin-top: 50px;">
    <h2>Logging out...</h2>
    <p>Please wait while we securely log you out.</p>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Logging out...</span>
    </div>
</div>

<script>
    // Force redirect if it doesn't happen automatically
    setTimeout(function() {
        window.location.href = '/Account/Login';
    }, 2000);
</script>
